.Repository{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.repository-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    text-align: center;
    max-width: 250px;
    max-height: 400px;
    padding: 1.5rem;
    margin: 1rem;
    overflow: auto;
    background-color: #417cea10;
    border-radius: 0.5rem;
}

.link-repository {
    display: flex;
    background-color: #0d56df;
    padding: 0.5rem;
    border-radius: 20px;
}

.link-repository:hover {
    background-color: #ffffff;
    color: #05183c;
    font-weight: 700;
    transition-duration: 1s;
}

.link-back-page {
    background-color: #0d56df;
    padding: 0.5rem;
    border-radius: 20px;
}

@media only screen and (max-width: 385px) {
  .card {
    font-size: small;
  }
}